__pycache__
venv
logs
plugins
Enoncé Projet MLOps.pdf
data
03-20-2025-18-26-43_files_list.zip
photo.jpg
Architecture.txt

postgres-secret.yaml
postgres-pvc.yaml
postgres-pv.yaml
postgres-service.yaml

minio-secret.yaml
minio-pvc.yaml
minio-pv.yaml
minio-service.yaml
